.root {
  font-family: "Kumbh Sans", "Arial", "sans-serif", "Helvetica";
  font-weight: 400;
  min-width: 600px;
  max-width: 1380px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  background-color: #f4f6f8;
}

